{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./lib"
        }
      }
    ],
    [
      "transform-define",
      {
        "process.env.BACKEND_URL": "192.168.61.232",
        "process.env.MONGODB_URI": "mongodb://localhost:27017/sws"
      }
    ]
  ]
}
