{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }]
  ],
  "plugins": [
    ["@babel/plugin-transform-async-to-generator"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./lib"
        }
      }
    ],
    [
      "transform-define",
      {
        "process.env.BACKEND_URL": "192.168.20.131",
        "process.env.MONGODB_URI": "mongodb://localhost:27017/sws"
      }
    ]
  ]
}
