{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "constants": "./src/constants",
          "lib": "./src/lib",
          "styles": "./src/styles"
        },
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".ts", ".tsx"]
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "transform-define",
      {
        "process.env.BACKEND_URL": "http://192.168.20.131",
        "process.env.WEBSOCKET_URL": "ws://192.168.20.131"
      }
    ]
  ]
}
