{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src"
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "transform-define",
      {
        "process.env.BACKEND_URL": "http://192.168.61.232",
        "process.env.WEBSOCKET_URL": "ws://192.168.61.232"
      }
    ]
  ]
}
